.container {
    background-color: white;
    width: 400px;
    min-height: 400px;
    text-align: center;
    padding: 20px;

    display: flex;
    flex-direction: column;
}

h1 {
    padding: 10px;
}

.form-group {
    display: flex;
    justify-content: space-between;
}

.input-tarefas {
    border: 1px solid rgb(159, 159, 159);
    outline: none;
    padding: 5px;
    width: 90%;
}

.group-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}

.list {
    list-style: none;
    padding: 5px;
    background-color: #f3f1f4;
    display: flex;
    justify-content: space-between;
}